
.calendario {
    width: 350px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.calendario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.calendario-header button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

#month-year {
    font-size: 1.2em;
    font-weight: bold;
}

.calendar-weekdays,
.dias-calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-weekdays div,
.dias-calendario div {
    text-align: center;
    padding: 10px;
}

.calendar-weekdays {
    background-color: #eaeef3;
}

.calendar-weekdays div {
    font-weight: bold;
}

.dias-calendario div {
    border-bottom: 1px solid #eaeef3;
    cursor: pointer;
}

.dias-calendario div:hover {
    background-color: #f1f1f1;
}