<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="stylesheet" href="../css/Calendario.css">
</head>
<body>
    
    <div class="calendario">
        <div class="calendario-header">
            <button id="anterior-mes">‹</button>
            <button id="siguiente-año"></button>
            <button id="siguiente-mes">›</button>

        </div>
        <div class="calendario-cuerpo">
            <div class="calendar-weekdays">
            
            </div>
            <div class="dias-calendario">
            
            </div>

        </div>
    </div>

<script>


    /*declaracion de variables*/

</script>
</body>
</html>